table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th, .btn-header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(214, 88, 38);
  color: white;
  border: none;
}

.btn-header:focus {
  box-shadow: none;
  border: none;
}

.btn-header:active {
  box-shadow: none;
  border: none;
}